%p=t('.welcome')
%p=t('.welcome2')

%dl
    %dt Name:
    %dd= @name
    
    %dt Email:
    %dt= @email
    
    %dt Telephone:
    %dd= @telephone
    
%p=@message

%p=t('.thanks')
%p=@name


    
    