%h1 Listing players

- @players.each do |player|
  
  %div{:class=>"wrapper"}
    %div{:class=>"img_placeholder"}
      %img{ src: player.image }
    %div{:class=>"text"}
      %p=player.name
      %p=player.team
      %p=link_to 'Edit', edit_player_path(player)
%br

= link_to t('.new'), new_player_path
