// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrap {
    text-align: center;
    padding:15px;
    font-size: 1.5em;
    
    &:hover {
        font-size: 1.9em;
        color: #5c8a36;
    }
}
